@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
    --quantity: 16;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Gochi Hand', cursive;
    background-image: url(./images/pencils.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

nav {
    display:flex;
    width: 92vw;
    justify-content: space-between;
    margin-left: 40px;
    margin-bottom: 5px;
}

h1 {
    font-size: 50px;
    margin-left: 3rem;
}

#instructions {
    font-size: 30px;
    float: right;
    margin-right: 9rem;
    margin-top: 30rem;
}

#instructions > *{
    margin-top: 5px;
    font-size: 25px;
}

#resize {
    text-decoration: underline;
    font-weight: bold;
}

#resize:hover {
    cursor: pointer;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--quantity), 1fr);
    grid-template-rows: repeat(var(--quantity), 1fr);
    height: 80vh;
    width: 60vw;
    margin-left: 3rem;
}

.cell {
    height: auto;
    width: auto;
    border: 1px solid black;
    background-color: white;
}